
@{
    ViewBag.Title = "Index";
}

<h2 style="margin-left:90px;">Welcome!</h2>
<div style="margin-left:140px;">
    <p>Hi I’m <b>Veon ChatBot For Jawed Habib Singapore</b>. </p>
    <p>I'm a chatbot built to help users with <u>basic hair services/product enquiries</u>, and also to <u>perform booking of appointments</u> with <b>Jawed Habib Singapore</b>.</p>
    <br />
    <p>Before continuing, please read through about my @Html.ActionLink("terms", "Terms", "Home") and my @Html.ActionLink("policies", "PrivacyPolicy", "Home").</p>
    <br />
    <p>Now let's get started on how to interact with me so I can assist you regarding your enquiries.</p>
    <br />
    <p>To <u>enquiry about a service/product</u>, you can type something similar to the following:</p>

    <p style="margin-left:40px;"><i>Hi, how much does it cost to do a digital perm?</i></p>
    <p style="margin-left:40px;"><i>Hi, do you do henna?</i></p>
    <br />
    <p>I can also help you with <u>appointment enquiries</u>! Just let me know the details with something similar to the following:</p>

    <p style="margin-left:40px;"><i>I would like to book an appointment on 28 Oct at 3pm with Denise.</i></p>
    <p style="margin-left:40px;"><i>I would like to cancel my appointment.</i></p>
    <p style="margin-left:40px;"><i>I would like to change my appointment to 4pm instead.</i></p>
    <p style="margin-left:40px;"><i>I would like to check my appointment details.</i></p>
    <br />
    @*<p>And...if I'm not getting you, or you are getting frustrated with me.. I can help you get a <u>human's attention</u> with something similar to the following:</p>

    <p style="margin-left:40px;"><i>I need some human assistance!</i></p>*@
    <br />
    <p>Hope that will help with our interaction :D Looks forward to chatting with you soon!</p>
</div>
