
@{
    ViewBag.Title = "Terms";
}

<h2 style="margin-left:90px;">Terms Of Use</h2>

<div style="margin-left:140px;">
    <p>These terms are an agreement between you and the bot publisher for the use of the bot publisher’s bot on the platform. Please read them. They apply to your use of the bot, including any updates to the bot, unless the bot publisher provides you with separate terms, in which case those terms apply. The bot publisher means the entity making the bot available to you, Veon ChatBot For Jawed Habib.</p>
    <p>IF YOU DO NOT ACCEPT THESE TERMS, YOU HAVE NO RIGHT TO AND MUST NOT USE THE BOT.</p>
    <br/>
    <p>By accepting these terms, you represent that you are at least 18 years old or have reached the age of majority where you live, if that is more than 18 years of age. If you are under 18 or have not reached such age of majority, your parent or legal guardian must accept these terms on your behalf.</p>
    <p>If you comply with these terms, you have the rights below.</p>
    <p>1.	<b>USE</b>: You may use the bot for the sole purpose of interacting with the service provided by the bot publisher on the platform. The bot publisher reserves all other rights.</p>
    <p>2.	<b>RESTRICTIONS</b>: You may not:</p>
    <p style="margin-left:40px;">1.	Work around any technical limitations of the bot;</p>
    <p style="margin-left:40px;">2.	Modify, reverse engineer or otherwise alter the bot (except to the extent this is authorized by applicable law notwithstanding this limitation);</p>
    <p style="margin-left:40px;">3.	Use the bot in any way prohibited by law, regulation, governmental order or decree;</p>
    <p style="margin-left:40px;">4.	Use the bot to:</p>
    <p style="margin-left:90px;">1.	defame, abuse, harass, stalk, threaten, or otherwise violate the legal rights (such as rights of privacy and publicity) of others;</p>
    <p style="margin-left:90px;">2.	engage in activity that is false or misleading or that is harmful to you, others (including children), or the bot (e.g., transmitting viruses, communicating hate speech, or advocating violence against others);</p>
    <p style="margin-left:90px;">3.	share inappropriate content, advertising, spam, spyware or malware;</p>
    <p style="margin-left:90px;">4.	gain (or attempt to gain) unauthorized access to any service, data, account or network by any means.</p>
    <p style="margin-left:40px;">5.	Infringe upon the rights of others;</p>
    <p style="margin-left:40px;">6.	Use the bot anywhere other than the platform where the bot publisher has made it available, unless the bot publisher has enabled such uses;</p>
    <p style="margin-left:40px;">7.	Remove, modify, or tamper with any notice or link that is incorporated into the bot.</p>
    <p>3.	<b>TERMINATION</b>: If bot publisher believes that you are making unauthorized use of the bot or that you are in violation of these terms, it may suspend or terminate your access to bot publisher’s service with or without notice. This may result in a loss of your data.</p>
    <p>4.	<b>YOUR CONTENT</b>: You grant to bot publisher the right to use any content that you submit via the bot as necessary for bot publisher to provide the service to you.</p>
    <p>5.	<b>PRIVACY POLICY</b>:</p>
    <p style="margin-left:40px;">1.	We are committed to respecting and protecting the privacy rights of our Users. We understand the importance of protecting your private information, and will uphold your privacy rights with the utmost priority.</p>
    <p style="margin-left:40px;">2.	Please read the @Html.ActionLink("Privacy Policy", "PrivacyPolicy", "Home") carefully. The Privacy Policy governs our collection and use of your information. You understand that through your use of our Service you consent to the collection and use (as set forth in the Privacy Policy) of this information, including the transfer of this information to Singapore or other countries for storage, processing and use by us.</p>
    <p style="margin-left:40px;">3.	Please click here to read the provisions of the Privacy Policy (link to Privacy Policy).</p>
    <p style="margin-left:40px;">4.	The Privacy Policy is part of this Terms of Use, and will be governed by the Terms set out herein.</p>
    <p>6.	<b>TECHNOLOGY AND EXPORT RESTRICTIONS</b>. The bot may be subject to United States or international technology control or export laws and regulations. You must comply with all domestic and international export laws and regulations that apply to the technology used or supported by the bot.</p>
    <p>7.	<b>SUPPORT SERVICES</b>. Contact the bot publisher to determine if any support services are available.</p>
    <p>8.	<b>CHANGES TO TERMS</b>. Bot publisher may update these terms of use at any time by amending this page. Please check this page from time to time to take notice of any changes, as they are binding on you.</p>
    <p>9.	<b>ENTIRE AGREEMENT</b>. This agreement and any applicable privacy policy are the entire agreement between you and the bot publisher.</p>
    <p>10.	<b>APPLICABLE LAW</b>.</p>
    <p style="margin-left:40px;">1.	United States and Canada. If you acquired the bot in the United States or Canada, the laws of the state or province where you live (or, if a business, where your principal place of business is located) govern the interpretation of these terms, claims for breach of them, and all other claims (including consumer protection, unfair competition, and tort claims), regardless of conflict of law principles.</p>
    <p style="margin-left:40px;">2.	Outside the United States and Canada. If you acquired the bot in any other country, the laws of that country apply.</p>
    <p>11.	<b>LEGAL EFFECT</b>. This agreement describes certain legal rights. You may have other rights under the laws of your state or country. This agreement doesn’t change your rights under the laws of your state or country if the laws of your state or country don’t permit it to do so.</p>
    <p>12.	<b>DISCLAIMER OF WARRANTY</b>. The bot and the service accessed via the bot are provided “as is” “with all faults” and “as available”. You bear the risk as to its quality and performance. The bot publisher gives no express warranties, guarantees, or conditions in relation to the bot. To the extent permitted under your local laws, Bot publisher excludes any implied warranties or conditions, including those of merchantability, fitness for a particular purpose and non-infringement.</p>
    <p>13.	<b>LIMITATION ON AND EXCLUSION OF REMEDIES AND DAMAGES</b>. To the extent not prohibited by law, if you have any basis for recovering damages, you can recover from the bot publisher only direct damages up to the amount you paid for the bot or USD$1.00, whichever is greater. You will not, and waive any right to, seek to recover any other damages, including consequential, lost profits, special, indirect or incidental damages from the bot publisher. If your local laws impose a warranty, guarantee or condition even though these terms do not, its duration is limited to 90 days from when you begin using the bot.</p>
    <p style="margin-left:40px;">1.	This limitation applies to:</p>
    <p style="margin-left:90px;">1.	Anything related to the bot or services made available through the bot; and</p>
    <p style="margin-left:90px;">2.	Claims for breach of contract, warranty, guarantee, or condition; strict liability, negligence, or other tort; violation of a statute or regulation; unjust enrichment; or under any other theory; all to the extent permitted by applicable law.</p>
    <p style="margin-left:40px;">2.	This limitation applies even if:</p>
    <p style="margin-left:90px;">1.	This remedy doesn’t fully compensate you for any losses; or</p>
    <p style="margin-left:90px;">2.	The bot publisher knew or should have known about the possibility of the damages.</p>
</div>